{{ define "main" }}
<main class="taxonomy-container">
  <h1 class="list-title">{{ .Title }}</h1>
  <p class="list-count">{{ len .Site.Taxonomies.tags }} tags</p>
  <div>
  {{ range $name, $pages := .Site.Taxonomies.tags }}
    <a href="#{{ $name }}" class="tag">{{ $name }} <span class="tag-count">{{ len $pages }}</span></a>
  {{ end }}
  </div>
  <div>
  {{ range $name, $pages := .Site.Taxonomies.tags }}
    <div id="{{ $name }}" class="tag-title">{{ $name }}</div>
    <ul class="list-list">
      {{ range $pages }}
      {{ partial "article_summary.html" . }}
      {{ end }}  
    </ul>
  {{ end }}
  </div>
</main>
{{ end }}