:root {
  --fg: #000000;
  --bg: #fdfbfa;
  --main: #3fb8a4;
  --gray: #6b6b6b;
  --info: #f5f5f5;
  --info-highlight: #f0f0f0;
  --err: #cc2f2f;
  --border: #ddd;
  --font-main: "Roboto", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-title: "Ubuntu", sans-serif;
  --font-quote: "Lora", serif;
}

.dark:root {
  --fg: #ffffff;
  --bg: #2a2b2d;
  --gray: #ababab;
  --info: #3d3d3d;
  --info-highlight: #5d5d5d;
  --err: #eb7d88;
  --border: #777777;
}

body {
  box-sizing: border-box;
  color: var(--fg);
  background-color: var(--bg);
  font-family: var(--font-main);
  line-height: 1.5;
  font-size: 15px;
}

nav li {
  list-style-type: none;
}

code {
  font-family: var(--font-mono);
}

pre.chroma {
  padding: 1em;
  overflow-x: auto;
}

.highlight {
  width: 62vw;
}

blockquote {
  font-family: var(--font-quote);
  font-style: italic;
  color: var(--gray);
}

header {
  background-color: var(--bg);
  font-family: var(--font-title);
  font-weight: bolder;
  border-bottom: 1px solid var(--border);
  z-index: 999;
}

.sticky:root {
  scroll-padding-top: 4em;
}

.sticky:root header {
  position: sticky;
  top: 0;
}

header a,
header a:visited {
  color: var(--gray);
  text-decoration: none;
}

header a:active,
header a:hover {
  color: var(--main);
  text-decoration: none;
  outline: none;
}

.menu-container {
  margin: 1.2em auto 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  white-space: nowrap;
}

.command-container {
  color: var(--gray);
  font-size: 1.5em;
  cursor: pointer;
  display: flex;
  width: 100%;
}

.command-container:hover {
  color: var(--main);
}

.command {
  padding: 0 0.5em;
}

.command-container .command {
  color: transparent;
}

.command-container:hover .command {
  color: var(--main);
}

.command-container.active,
.command-container.active .command {
  color: var(--main);
}

.command,
.command-input {
  font-size: 0.8em;
  font-family: var(--font-mono);
}

.command-input {
  border: none;
  color: var(--main);
  background-color: var(--bg);
  display: none;
}

.command-input::placeholder {
  font-style: italic;
  color: var(--gray);
}

.command-input.error::placeholder {
  color: var(--err);
}

.command-input:focus {
  outline: none;
}

.command-container.active .command-input {
  display: block;
  width: 100%;
}

.menu-items-container {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  display: none;
}

.icon:hover {
  color: var(--main);
}

.sticky:root .icon {
  margin: 0;
}

.menu-item {
  display: block;
  font-weight: 400;
  padding: 1.2em 1em;
  white-space: nowrap;
}

.menu-item.current {
  color: var(--main);
}

.menu-item::after {
  content: "/";
}

footer {
  color: var(--gray);
  font-family: var(--font-title);
  border-top: 1px solid var(--border);
  margin: auto;
  padding: 2em;
  text-align: center;
}

footer a,
footer a:visited {
  color: var(--main);
  text-decoration: none;
  outline: none;
}

footer a:hover,
footer a:active {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 0.2em;
}

#content {
  margin: 4em auto;
  width: 90%;
}

.list-container,
.taxonomy-container {
  max-width: 40em;
  margin: auto;
}

.article-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 5fr 1fr;
  gap: 2em;
}

.article-table-of-contents {
  position: sticky;
  font-size: 0.9em;
  top: 4em;
  padding: 4em 0;
  margin: 6em 0;
  max-width: 15em;
}

#TableOfContents ol,
#TableOfContents ul {
  padding: 0 2em;
}

.article-table-of-contents.hidden {
  display: none;
}

.article-main {
  max-width: 40em;
  margin: auto;
}

.article-title,
.list-title {
  font-weight: 500;
  font-family: var(--font-title);
  font-size: 3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

h1 {
  font-size: 1.8em;
  font-weight: bold;
}

h2 {
  font-size: 1.6em;
  font-weight: bold;
}

h3 {
  font-size: 1.4em;
  font-weight: bold;
}

h4 {
  font-size: 1.2em;
  font-weight: bold;
}

h5 {
  font-size: 1.2em;
  font-weight: bold;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

p {
  font-size: 1.1em;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: var(--main);
}

a:hover,
a:active {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 0.2em;
}

kbd {
  font-family: var(--font-mono);
}

table {
  border-collapse: collapse;
  overflow-x: auto;
}

td {
  padding: 0.2em 0.5em;
  border: solid 1px var(--bg);
}

tr:nth-child(odd) {
  background-color: #f5f5f5;
}

.dark:root tr:nth-child(odd) {
  background-color: #222;
}

th {
  background-color: var(--main);
  border: solid 1px var(--bg);
  padding: 0.2em 0.5em;
}

.article-info-container {
  font-family: var(--font-quote);
  color: var(--gray);
}

.article-info {
  font-size: 0.9em;
}

.article-tags-container {
  margin: 0.5em 0 2em;
}

a.tag {
  font-family: var(--font-title);
  font-size: 0.9em;
  padding: 0.2em 0.5em;
  margin: 0.2em 0.2em 0.5em 0;
  background-color: var(--info);
  border-radius: 1em;
  color: var(--gray);
  white-space: nowrap;
}

a.tag:hover {
  background-color: var(--info-highlight);
  color: var(--main);
}

a.tag::before {
  content: "# ";
}

a.tag.article-tag {
  color: var(--main);
}

.article-footer-container {
  font-family: var(--font-title);
  font-size: 0.9em;
  color: var(--gray);
  margin: 5em 0 0;
  display: flex;
  justify-content: space-between;
}

.list-list {
  padding: 0;
}

.list-count {
  color: var(--gray);
  font-family: var(--font-title);
}

.list-time {
  color: var(--gray);
  font-size: 0.9em;
  font-family: var(--font-title);
}

.list-item {
  display: grid;
  grid-template-columns: 2fr 5fr;
  margin: 2em;
}

.tag-title {
  margin-top: 3em;
  font-family: var(--font-title);
  font-size: 1.2em;
  color: var(--gray);
}

.tag-count {
  font-size: 0.8em;
  font-weight: 100;
}

._404 {
  color: var(--gray);
  font-size: 5em;
  font-family: var(--font-title);
}

@media only screen and (max-width: 767px) {
  .article-table-of-contents {
    display: none;
    width: 0;
  }

  .menu-container {
    flex-direction: column;
  }

  .menu-items-container {
    flex-direction: column;
  }

  .menu-items-container.responsive {
    display: flex;
  }

  .menu-items-container {
    display: none;
  }

 #title {
   padding: 0.666666667em 0;
 }

  .icon {
    display: block;
    position: absolute;
    font-weight: 400;
    padding: 0.666666667em 1em;
    color: var(--gray);
    font-size: 1.5em;
    cursor: pointer;
    top: 0;
    right: 0;
  }

  .highlight {
    width: 80vw;
  }

  .article-container {
    grid-template-columns: 0 1fr 0;
    gap: 0;
  }
}
