@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/open-sans/OpenSans-Light.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/open-sans/OpenSans-LightItalic.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/open-sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/open-sans/OpenSans-Italic.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/open-sans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/open-sans/OpenSans-SemiBoldItalic.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/open-sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/open-sans/OpenSans-BoldItalic.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/open-sans/OpenSans-ExtraBold.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: url("/fonts/open-sans/OpenSans-ExtraBoldItalic.ttf");
}



@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url("/fonts/roboto/Roboto-ThinItalic.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/roboto/Roboto-LightItalic.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/roboto/Roboto-Italic.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/roboto/Roboto-MediumItalic.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/roboto/Roboto-BoldItalic.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/roboto/Roboto-Black.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url("/fonts/roboto/Roboto-BlackItalic.ttf");
}

/* Ubuntu */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/ubuntu/Ubuntu-Light.ttf")
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/ubuntu/Ubuntu-LightItalic.ttf")
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ubuntu/Ubuntu-Regular.ttf")
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/ubuntu/Ubuntu-Italic.ttf")
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/ubuntu/Ubuntu-Medium.ttf")
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/ubuntu/Ubuntu-MediumItalic.ttf")
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ubuntu/Ubuntu-Bold.ttf")
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/ubuntu/Ubuntu-BoldItalic.ttf")
}


@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  src: url("/fonts/jetbrains-mono/JetBrainsMono-VariableFont_wght.ttf");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  src: url("/fonts/jetbrains-mono/JetBrainsMono-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Lora";
  font-style: normal;
  src: url("/fonts/lora/Lora-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Lora";
  font-style: italic;
  src: url("/fonts/lora/Lora-Italic-VariableFont_wght.ttf");
}